.sidebar {
    width: 300px;
    background-color: #383838;
    color: white;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    padding: 0 20px;
    box-sizing: border-box;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebarTop {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sidebar div.sidebarButton {
    position: relative;
    left: -5px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.newTranslationButton {
    cursor: pointer;
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: left;
    padding: 5px;
    width: 180px;
    height: 30px;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 5px;
}

.newTranslationButton span {
    margin-left: 5px;
}

.addButton {
    width: 220px;
    align-items: center;
    font-size: 16px;
}